<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game Engine</title>
</head>
<body>
  <style>
  ul a {
    display: inherit;
    font-size: 30px;
  }
  </style>
  <ul>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/join">Join Game (Socket.IO)</a>
  </ul>
</body>
</html>